@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    background: url(tic.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    margin-top: 90px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.header h1{
    text-align: center;
    font-size: 3em;
    color: #f5f5f5;
    font-family: 'Courier New', Courier, monospace;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    margin: 2px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.btn:disabled{
    color: black;
    cursor: no-drop;
}

.result{
    text-align: center;
    color: #f5f5f5;
    font-size: 2em;
}

.reset{
    align-items: center;
    /*margin-left: 300px; */
}

#reset{
    position: absolute;
    top: 70%;
    left: 12%;
    right: 15%;
    bottom: 70;
    border: 1px solid transparent;
    cursor: pointer;
    color: indianred;
    background-color: transparent;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 24px;
    margin: 35px; 
    transition: all 0.4s ease-in-out;
}

#reset:hover{
    color: white;
    background-color:transparent;
}

.btn.x-symbol{
    color: blue;
}

.btn.o-symbol{
    color: red;
}